*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #000000;
}

body.scroll-hidden
{
    overflow: hidden;
}

ul
{
    list-style-type: none;
}

a{
    text-decoration: none;
    cursor: pointer;
}

main
{
    background-color: #FFFFFF;
    min-height: 100vh;
    padding-bottom: 69px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

header 
{
    background-color: #EC362D;
    height: 69px;
    width: 100%;
    position: fixed;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

header h1
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;
}

h2
{
    font-family: Roboto;
    font-weight: bold;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    margin-top: 140px;
}


/*CSS da home*/

.quizz-todos span{
    display: inline-block;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
 }

.container-home
{
    width: 1051px;
    padding-top: 69px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}

.container-home h1
{
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.container-home h1:nth-child(3)
{
    margin-top: 50px;
}

.flex
{
    display: flex;
    align-items: center;
    gap: 18px;
}

.flex a ion-icon
{
    font-size: 40px;
    color: #EC362D;
}

.container-home ul
{
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.container-home ul li
{
    width: 340px;
    height: 181px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%), url(.png);
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}


.container-home ul li img
{
    width: 100%;
    height: 100%;
    border-radius: inherit;
}


.container-home ul li span
{
    position: absolute;
    width: 301px;
    height: 54px;
    left: 18px;
    bottom: 7px;
    font-family: Roboto;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
    z-index: 1;
}

.container-home ul li::after
{
    content: "";
    width: inherit;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%), url(.png);
    bottom: 0px;
    left:0px;
    position: absolute;
    border-radius: inherit;
}

.container-home ul li:hover .buttons
{
    visibility: visible;
    opacity: 1;
    transition: all 500ms;
}

.container-home ul li .buttons
{
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10px;
    right: 0px;
    gap: 1px;
    font-size: 20px;
}

.btn-edit-quizz
{
    width: 43px;
    height: 43px;
    background: #EC362D;
    border-radius:  10px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.btn-remove-quizz
{
    width: 43px;
    height: 43px;
    background: #EC362D;
    border-radius:  0px 0px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.buttons ion-icon
{
    color: #FFFFFF;
}

.container-home .painel-usuario
{
    height: 181px;
    margin-bottom: 77px;
    background: #FAFAFA;
    border: 1px dashed #D5D5D5;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-home .painel-usuario span
{
    font-family: Roboto;
    font-size: 20px;
    line-height: 23px;
    color: #B9B9B9;
    text-align: center;
    width: 250px;
    height: 107px;
}

.container-home .painel-usuario a
{
    width: 151px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FAFAFA;
    border: 1px dashed #EC362D;
    border-radius: 50px;
}

.container-home .painel-usuario a p
{
    font-family: Roboto;
    font-size: 21px;
    line-height: 25px;
    color: #EC362D;
}

/*CSS referente aos formulários a seguir: */

form
{
    margin: 0 auto;
    margin-top: 12px;
    width: 600px;
    padding: 13px 20px 0px 16px;
}

form input
{
    width: 100%;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    outline: 0;
    margin-bottom: 14px;
}

form input:placeholder-shown {
    font-style: italic;
 }

form input[type="submit"]
{
    width: 368.86px;
    height: 54px;
    margin-top: 109px;
    background: #EC362D;
    border-radius: 15px;
    border: none;
    font-family: Roboto;
    font-size: 21px;
    line-height: 25px;
    color: #FFF5F4;
    cursor: pointer;
}

.form-collapsible
{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-top: 26px;
}

.collapsible
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 13px 20px 13px 16px;
    background-color: #FFFFFF;
    border: 1px solid #D1D1D1;
    margin-block: 14px;
}

.collapsible span 
{
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.collapsible ion-icon
{
    font-size: 20px;
    stroke-width: 2px;
}

.btn-acessar-quizz
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220.32px;
    height: 44px;
    margin: 0 auto;
    margin-top: 45px;
    background: #EC362D;
    border-radius: 15px;
    border: none;
    font-family: Roboto;
    font-size: 21px;
    line-height: 25px;
    color: #FFF5F4;
    cursor: pointer;
}

.btn-voltar-home
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-size: 21px;
    line-height: 25px;
    margin: 0 auto;
    margin-top: 9px;
    color: #818181;
    cursor: pointer;
}

input:invalid
{
    background-color: #FFE9E9;;
}

.group
{
    width: 100%;
    margin-bottom: 32px;
}

.add-pergunta
{
    display: flex;
    align-items: center;
    width: 601px;
    height: 74px;
    background-color: #FFFFFF;
    margin: 0 auto;
    margin-top: 24px;
    padding-inline: 17px;
}

.add-pergunta span
{
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
}

.submit
{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 368.86px;
    height: 54px;
    margin-top: 80px;
    background: #EC362D;
    border-radius: 15px;
    border: none;
    font-family: Roboto;
    font-size: 21px;
    line-height: 25px;
    color: #FFF5F4;
    cursor: pointer;
}

.quizz-template
{
    position: relative;
    width: 500px;
    height: 266px;
    margin: 0 auto;
    margin-top: 46px;
    border-radius: 5px;
}

.quizz-template::after
{
    content: "";
    width: inherit;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.8) 100%), url(.png);
    bottom: 0px;
    left:0px;
    position: absolute;
    border-radius: inherit;
}

.quizz-template img
{
    height: 100%;
    width: 100%;
    border-radius: inherit;
}

.quizz-template span
{
    font-family: Roboto;
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;
    position: relative;
    left: 23px;
    bottom: 50px;
    z-index: 1;
}

small
{
    display: block;
    width: 100%;
    font-family: Roboto;
    font-size: 16px;
    line-height: 19px;
    color: #EC362D;
    margin-bottom: 10px;
}

.hidden
{
    display: none;
}

.loading-overlay
{
    position: fixed;
    background-color: #FFFFFF;
    height: 100%;
    width: 100%;
    top: 10px;
    z-index: 995;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-overlay img
{
    height: 600px;
}

.loading-overlay.hidden
{
    display: none;
}

/*  A SEGUIR COMEÇA O CSS DO PEDRO */


.quizz-container
{
   background: #E5E5E5;
    padding-top: 69px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
}

.quizz-container li{
   margin-top: 28px;
}



.quizz-header{
   width: 100vw;
   height: 227px;
   background: transparent;
   background-size: 100%;
   background-repeat: no-repeat;

   display: flex;
   align-items: center;
   justify-content: center;
}

.quizz-header div{
   width: 100%;
   height: 227px;
   position: absolute;
   background-color: black;
   opacity: 0.6;
   z-index: 2;
}


.quizz-header h2{
   font-family: Roboto;
   font-weight: 400;
   font-size: 39px;
   line-height: 46px;
   color: #fff;
   z-index: 3;
   margin-top: 0;
   display: inline-block;
   white-space: wrap;
   overflow: hidden;
   text-overflow: ellipsis;
   margin: 5px;
}

.question-container{
   background-color: #fff;
   padding: 27px 34px;
   margin-top: 42px;
   width: 759px;
}


.question-header{
   width: 100%;
   height:138px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 20px;
   background-color: #434CA0;
}

.question-header h3{
   font-family: Roboto;
   font-weight: 700;
   font-size: 23px;
   line-height: 27px;
   color: #fff;
   display: inline-block;
   white-space: wrap;
   overflow: hidden;
   text-overflow: ellipsis;
   margin: 5px;
}

.quizz-question{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
   flex-wrap:wrap;
   gap: 0 20px;
}


.answer-card{
   width: 335px;
   margin-bottom: 18px;

}

.answer-card img{
   width: 100%;
   height: 175px;
}

.answer-card h3{
   width: 100%;
   margin-top: 7px;
   font-family: Roboto;
   font-weight: 700;
   font-size: 20px;
   line-height: 24px;
   display: inline-block;
   overflow: hidden;
   text-overflow: ellipsis;
}

/* results */

.results-container{
   background-color: #fff;
   padding: 18px;
   margin-top: 42px;
   height:430px;
   width: 759px;
}

.results-header{
    font-family: Roboto;
    display: inline-block;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px;
    width: 100%;
   height:99px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 20px;
   background-color: #EC362D
}

.results-header h3{
   font-family: Roboto;
}

.results-box{
   display: flex;
   justify-content: center;
   gap: 20px
}

.results-box img{
   width: 50%;
   max-height: 273px;
}

.results-box h3{
    width: 50%;
    font-family: Roboto;
    font-weight: 700;
 font-size: 19px;
 line-height: 25px;
 display: inline-block;
 white-space: wrap;
 overflow: hidden;
 text-overflow: ellipsis;
 margin: 5px;
}

.btn-reiniciar{
   color: #fff5f4;
   background-color: #ec362d;
   width: 260px;
   height: 52px;
   border-radius:15px;
   border: 0px;
   font-family: Roboto;
   font-size: 21px;
   margin-bottom: 16px;
   margin-top: 57px;
}

.btn-reiniciar:hover{
   opacity: 0.9;
}

.btn-home{
   color: #818181;
   background-color: transparent;
   width: 220px;
   height:44px;
   font-size: 21px;
   margin-bottom: 85px;
   border: 0px;
}


/* dynamic */

.not-selected{
   opacity: 0.3;
   pointer-events: none
}
.selected{
   pointer-events: none;
}

.false{
   color: #ff4b4b
}

.true{
   color: #009c22
}

.curtain{
   color: black;
} 

/* mobile */

@media (max-width:1000px){

    html {
        overflow: scroll;
        overflow-x: hidden;
    }
    ::-webkit-scrollbar {
        width: 0;  /* Remove scrollbar space */
        background: transparent;  /* Optional: just make scrollbar invisible */
    }

    body.scroll-hidden
{
    overflow: hidden;
}
  
  /* homepage */
  
  .container-home
  {
      width: 100%;
      padding-top: 29px;
      margin-top: 70px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  
  .container-home .painel-usuario
  {
      margin-bottom: 20px;
  }
  
  .container-home ul
  {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
  }
  
  .container-home ul li span
  {
      width: 301px;
      height: 27px;
  }
  
.quizz-header{
   width: 100vw;
   height: 142px;
}

.quizz-header div{
   width: 100vw;
   height: 142px;

}

.quizz-header h2{
   font-size: 19px;
   line-height: 22.27px;
}

.question-container{
   padding: 18px;
   width: 100vw;
}

.question-header{
   width: 100%;
   height:89px;
   margin-bottom: 12px;
}

.question-header h3{
   font-size: 19px;
   line-height: 22px;
}

.quizz-question{
   width: 100%;
   gap: 0 12px;
}

.answer-card{
   width: 45%;
   margin-bottom: 12px;

}

.answer-card img{
   width: 100%;
   height: auto;
}

.answer-card h3{
   margin-top: 5px;
   font-size: 13px;
   line-height: 15px;
}

/* results */

.results-container{
   padding: 15px;
   margin-top: 24px;
   width: 100vw;
}

.results-header{
   width: 100%;
   height: 20%;
   margin-bottom: 9px;
}
.results-header h3{
   font-size: 19px;
   line-height:22px;
   color: #fff;
}

.results-box{
   width: 100%;
   flex-direction: column;
   display: flex;
   justify-content: center;
   align-items: center;
}

.results-box img{
   width: 100%;
   max-height: 255px;
}

.results-box h3{
   width: 100%;
   font-size: 17px;
   line-height: 19px;

}

.btn-reiniciar{
   width: 220px;
   height: 44px;
   font-size: 18px;
   margin-bottom: 8px;
   margin-top: 18px;
}


.btn-home{
   font-size: 18px;
   margin-bottom: 66px;
}

/* input */

form
{
    margin-top: 13px;
    width: 100%;
    padding: 6px 10px 0px 8px;
}

form h3
{
    margin-bottom: 6px;
    margin-top: 7px;
}


form input
{
    width: 100%;
    height: 46px;
    margin: 9px auto;
    padding: 2px;
}

form input[type="submit"]
{
    width: 100%;
    height: 46px;
    margin-top: 50px;
}

.btn-acessar-quizz
{
    height: 34px;
    margin-top: 20px;
}
.group
{
    margin-bottom: 16px;
}

.add-pergunta
{
    width: 100%;
    height: 33px;
    margin-top: 12px;
    padding-inline: 10px;
}

.submit
{
    width: 90%;
    height: 40px;
    margin: 40px auto;
}

.submit a{
   font-size: 12px;
}

.quizz-template
{
    width: 100%;
    height: 266px;
    margin-top: 23px;
}
}